body{
    padding: 0;
    border: 0;
    box-sizing: border-box;
    width: 700px;
    margin: 0 auto;
}
.content img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
    float: left;
    padding: 8px 16px;

}
p{
    font-size: 20px;
    background-color: #FA8BFF;
    background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
    background-clip: text;
    color: transparent;
    font-weight: 600;
}
